body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#name {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  #github,
  #linkedin,
  #twitter {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }
}
