.App {
  text-align: center;
  margin-top: 15%;
  h1 {
    font-family: helvetica;
    font-size: 80px;
    text-shadow: 2px 2px 2px black;
  }
  p {
    margin-top: 20%;
    font-family: helvetica;
    font-size: 30px;
    padding: 20px;
    font-weight: bold;
  }
  ul {
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
    width: 100%;
    a, img {
      text-align: center;
      cursor: pointer;
      color: black;
      text-decoration: none;
      display: inline-block;
      margin-right: 20px;
      font-weight: bold;
    }
    img {
      height: 40px;
      width: 40px;
    }
  }

  .close,
  .question {
    height: 50px;
    width: 50px;
    right: 0;
    line-height: 50px;
    cursor: pointer;
    background: #ff5200;
    position: fixed;
    a {
      font-size: 25px;
    }
  }
  .close {
    top: 0;
  }
  .question {
    bottom: 0;
  }
  @media only screen and (max-width: 700px) {
    margin-top: 35%;
    h1 {
      font-size: 40px;
    }
    h4 {
      font-size: 16px;
    }
    h4,
    p,
    ul a,
    a {
      font-size: 16px;
    }
  }
}
